<div class="content">
    <div class="card">
        <div class="card-body">
            <h4 class="text-black">Data Export</h4>
            <p>Export data to Copy, CSV, Excel & Note</p>
            <div class="table-responsive">
                <table id="example2" class="table table-bordered table-hover" data-name="cool-table">
                    <thead>
                        <tr>
                            <th>Sno</th>
                            <th>Unit</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody class="tbody">
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Sno</th>
                            <th>Unit</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

</div>